
%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do
  <input id="search_terms" name="search_terms" type="text" />
  = submit_tag 'Search TMDb'

%h1{:style => "border-bottom: 1px solid DarkSlateGrey;"}All Movies

%table#movies
  %thead
  
  %tbody
    %div{class: "row"}
      %label{class: "column"} Rating Filter : 
      %label{:for => "G_filter"}G
      %input{:type =>"checkbox", :checked => true ,:id => "G_filter"}
      %label{class: "column",:for => "PG_filter"}PG
      %input{:type=>"checkbox", :checked => true ,:id => "PG_filter"}
      %label{:for => "PG-13_filter"}PG-13
      %input{:type=>"checkbox", :checked => true ,:id => "PG-13_filter"}
      %label{:for => "R_filter"}R
      %input{:type=>"checkbox", :checked => true ,:id => "R_filter"}
      %label{:for => "NC-17_filter"}NC-17
      %input{:type=>"checkbox", :checked => true ,:id => "NC-17_filter"}
        

  %tr
    %th{:style => "width:10%;"} Index
    %th{:style => "width:30%;"} Movie Title
    %th{:style => "width:10%;"} Rating
    %th{:style => "width:20%;"} Release Date
    %th{:style => "width:30%;"} More Info
    - @movies.each_with_index do |movie,index|
      %tr{class: movie.rating}
        %td= index+1
        %td= movie.title
        %td= movie.rating
        -if movie.release_date
          %td= movie.release_date.strftime("%B %d, %Y")
        -else
          %td= "-"
        %td= link_to "More about #{movie.title}", movie_path(movie)

%div{class: "row"}      
  %p{class: "column",:style=>"text-align:left;"}= link_to 'Add new movie', new_movie_path
  %p{class: "column",:style=>"text-align:right;"}= link_to 'Delete all movies', all_destroy_path , :method => "post"
