%h1 All Movies

%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do
  <label for='search_terms'>Search Terms</label>
  <input id="search_terms" name="search_terms" type="text" />
  = submit_tag 'Search TMDb'
  <br>
= link_to 'Back to main menu', movies_path
%table#movies
  %thead
    %tr
      %th{:style => "width:5%;"} Index
      %th{:style => "width:20%;text-align:center;"} Image
      %th{:style => "width:25%;"} Movie Title
      %th{:style => "width:15%;"} Average potatoes
      %th{:style => "width:15%;"} Total vote count
      %th{:style => "width:20%;"} Release Date
  %tbody
    - @search.each_with_index do |movie,index|
      %tr
      %td= index+1
      %td{:style =>"text-align:center;"} 
        %img{:src => 'https://image.tmdb.org/t/p/w300' + movie.poster_path.to_s}
      %td= movie.title
      %td= movie.vote_average/2
      %td= movie.vote_count
      %td= movie.release_date
      
= link_to 'Back to main menu', movies_path
