
%div{:id=>"suit"}
  %h2{:style => 'text-align:center;'} Create Review

  = form_tag movie_reviews_path(@movie) do
    %label How many potatoes:
    = select_tag 'review[potatoes]', options_for_select(1..5)
    = label :review, :comments, 'Comments'
    = text_area :review, :comments , required: true
    %br
    %br
    = submit_tag 'Create Review'
  