!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
    = csrf_meta_tags


  %body
    
    %Bigban= link_to 'RottenPotatoes', movies_path
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]

    #login
    - if @current_user
      %p.welcome{:style=>"text-align:right;"}  Welcome, #{@current_user.name}!
      %p{:style=>"text-align:right;"}= link_to 'Log Out', logout_path, :method => :post
    - else
      %p.login{:style=>"text-align:right;"}= link_to 'Log in with your Twitter account', '/auth/twitter' 
    #main
    
      = yield
